@model IEnumerable<practical5.Models.Bird>

@{
    ViewData["Title"] = "Bird Information";
}

<div class="container mt-4">
    <h2>@ViewData["Title"]</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Habitat</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || !Model.Any())
            {
                <tr>
                    <td colspan="3">No data available</td>
                </tr>
            }
            else
            {
                @foreach (var bird in Model)
                {
                    <tr>
                        <td>@bird.Name</td>
                        <td>@bird.Color</td>
                        <td>@bird.Habitat</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
